<app-navegador></app-navegador>
<app-spinner *ngIf="this.meli.loading" message="Buscando consultas..."></app-spinner>
<div class="list-group" *ngIf="!this.meli.loading">
  <div class="container-fluid">

    <div class="row">
    </div>

  		<div class="container">

        <div id="wrapper" [ngClass]="{'toggled':showMenu}">

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li *ngFor="let cuenta of this.user.cuentas">
                <a class="shortcut">
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="username"> {{ cuenta.nickname }}</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
          <div id="page-content-wrapper">

            <a class="btn btn-default" id="menu-toggle" (click)="toggleMenu()"><span class="glyphicon glyphicon-chevron-left" [ngClass]="{'rotate':showMenu}"></span></a>

            <!-- no questions -->
            <div class="row" *ngIf="this.meli.cantidadPreguntas == 0">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <img src="./assets/sin-preguntas.png" >
              </div>
            </div>

            <!-- questions list -->
            <div class="media" *ngFor="let pregunta of this.meli.preguntas">

              <div class="media-left">
                <a href="#">
                  <img class="media-object" [src]="pregunta.item.thumbnail" data-holder-rendered="true">
                </a>
              </div>

              <div class="media-body">
                <h4 class="media-heading mano" (click)="verPublicacion(pregunta.item)">{{ pregunta.item.title }}</h4>
                <p class="media-heading fecha">{{ dameFechaArgentina(pregunta.date_created)  | date:'dd/MM/yyyy HH:mm:ss' }}</p>
                <p class="question-text mano" (click)="verConversacion(pregunta)">{{ pregunta.text }}</p>
                <div class="btn-group acciones">
                  <button type="button" class="btn btn-default" title="Ver usuario del cliente" (click)="verUsuario(pregunta.from)">
                    <span class="glyphicon glyphicon-user"> {{ pregunta.from.nickname }}</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
          <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
      </div>
</div>